html {
  scroll-behavior: smooth;
}

/* navigation bar */
.bar {
    overflow: hidden;
    background-color: rgb(19, 40, 21);
    text-align: center;
    padding: 20px 20px; 
    font-size: 17px;
    border: solid 5px;
    border-color: rgba(251, 139, 36);
}

/* Linkcolor in de navigation bar */
.bar a{
  color: #ffffff;
  text-decoration: none;
}

.bar a:hover{
  color: red;
  display: inline-block;
}

/* Parallax scrolling */
#parallax1 {
    /* Image used */
    background-image: url("Sports1.jpg");
  
    /* Height */
    min-height: 500px;

    /* heigth of image */
    height: 80vh;

    /* Parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #parallax2 {
    /* Image used */
    background-image: url("Sports2.jpg");
  
    /* Height */
    min-height: 500px;
  
    /* heigth of image */
    height: 80vh;

    /* Parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #parallax3 {
    /* Image used */
    background-image: url("Sports3.jpg");
  
    /* Height */
    min-height: 500px;
  
    /* heigth of image */
    height: 80vh;

    /* Parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #parallax4 {
    /* Image used */
    background-image: url("Sports4.jpg");
  
    /* Height */
    min-height: 500px;
  
    /* heigth of image */
    height: 80vh;

    /* Parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }